In [1]:
print('hi')

hi

In [2]:
!conda install -y pandas matplotlib seaborn

Retrieving notices: ...working... done
Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\SBA\anaconda3

  added / updated specs:
    - matplotlib
    - pandas
    - seaborn


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    openssl-3.0.12             |       h2bbff1b_0         7.4 MB
    pandas-2.1.1               |  py311hf62ec03_0        13.5 MB
    ------------------------------------------------------------
                                           Total:        20.9 MB

The following packages will be UPDATED:

  openssl                                 3.0.10-h2bbff1b_2 --> 3.0.12-h2bbff1b_0
  pandas                              2.0.3-py311hf62ec03_0 --> 2.1.1-py311hf62ec03_0



Downloading and Extracting Packages

openssl-3.0.12       | 7.4 MB    |            |   0%

pandas-2.1.1         | 13.5 MB   |            |   0%
openssl-3.0.12       | 7.4 MB    |            |   0%

pandas-2.1.1         | 13.5 MB   |            |   0%
openssl-3.0.12       | 7.4 MB    | #########1 |  91%

pandas-2.1.1         | 13.5 MB   | ##9        |  30%

pandas-2.1.1         | 13.5 MB   | ########6  |  87%
openssl-3.0.12       | 7.4 MB    | ########## | 100%

pandas-2.1.1         | 13.5 MB   | ########## | 100%





Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

==> WARNING: A newer version of conda exists. <==
  current version: 23.7.4
  latest version: 23.10.0

Please update conda by running

    $ conda update -n base -c defaults conda

Or to minimize the number of packages updated during conda update use

     conda install conda=23.10.0

In [3]:
!pip install koreanize_matplotlib

Collecting koreanize_matplotlib
  Downloading koreanize_matplotlib-0.1.1-py3-none-any.whl (7.9 MB)
     ---------------------------------------- 0.0/7.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/7.9 MB 2.0 MB/s eta 0:00:04
     --- ------------------------------------ 0.6/7.9 MB 7.7 MB/s eta 0:00:01
     ------- -------------------------------- 1.5/7.9 MB 11.6 MB/s eta 0:00:01
     --------------- ------------------------ 3.1/7.9 MB 18.3 MB/s eta 0:00:01
     --------------------------- ------------ 5.4/7.9 MB 26.5 MB/s eta 0:00:01
     ---------------------------------------- 7.9/7.9 MB 31.7 MB/s eta 0:00:00
Requirement already satisfied: matplotlib in c:\users\sba\anaconda3\lib\site-packages (from koreanize_matplotlib) (3.7.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\sba\anaconda3\lib\site-packages (from matplotlib->koreanize_matplotlib) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\sba\anaconda3\lib\site-packages (from matplotlib->koreanize_matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\sba\anaconda3\lib\site-packages (from matplotlib->koreanize_matplotlib) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\sba\anaconda3\lib\site-packages (from matplotlib->koreanize_matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.20 in c:\users\sba\anaconda3\lib\site-packages (from matplotlib->koreanize_matplotlib) (1.24.3)
Requirement already satisfied: packaging>=20.0 in c:\users\sba\anaconda3\lib\site-packages (from matplotlib->koreanize_matplotlib) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\sba\anaconda3\lib\site-packages (from matplotlib->koreanize_matplotlib) (9.4.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\users\sba\anaconda3\lib\site-packages (from matplotlib->koreanize_matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\sba\anaconda3\lib\site-packages (from matplotlib->koreanize_matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\sba\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib->koreanize_matplotlib) (1.16.0)
Installing collected packages: koreanize_matplotlib
Successfully installed koreanize_matplotlib-0.1.1

# 서울시 범죄현황 데이터 분석 프로젝트

## 1. 환경설정

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import koreanize_matplotlib

copy path 써도 됨 : C:\Users\SBA\Documents\GitHub\seoul_crime\EDA\data\seoul_crime_2021.csv

In [8]:
!pwd

'pwd'��(��) ���� �Ǵ� �ܺ� ����, ������ �� �ִ� ���α׷�, �Ǵ�
��ġ ������ �ƴմϴ�.

In [9]:
crime_raw_data = pd.read_csv('../data/seoul_crime_2021.csv', encoding='euc-kr')

데이터 출처 : https://www.data.go.kr/data/15054738/fileData.do

In [10]:
crime_raw_data.head()

,구분,죄종,발생검거,건수,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,중부,살인,발생,4,NaN,NaN,NaN,NaN,NaN
1,중부,살인,검거,4,NaN,NaN,NaN,NaN,NaN
2,중부,강도,발생,3,NaN,NaN,NaN,NaN,NaN
3,중부,강도,검거,3,NaN,NaN,NaN,NaN,NaN
4,중부,"강간,추행",발생,109,NaN,NaN,NaN,NaN,NaN

## 2. 데이터 전처리
### 2.1. 데이터 클리닝

In [11]:
crime_raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 310 entries, 0 to 309
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   구분          310 non-null    object
 1   죄종          310 non-null    object
 2   발생검거        310 non-null    object
 3   건수          310 non-null    int64
 4   Unnamed: 4  0 non-null      float64
 5   Unnamed: 5  0 non-null      float64
 6   Unnamed: 6  0 non-null      float64
 7   Unnamed: 7  0 non-null      float64
 8   Unnamed: 8  0 non-null      float64
dtypes: float64(5), int64(1), object(3)
memory usage: 21.9+ KB

In [12]:
crime_raw_data['죄종'].unique()

array(['살인', '강도', '강간,추행', '절도', '폭력', '강간'], dtype=object)

In [14]:
crime_raw_data['발생검거'].unique()

array(['발생', '검거'], dtype=object)

In [13]:
crime_raw_data['구분'].unique()

array(['중부', '종로', '남대문', '서대문', '혜화', '용산', '성북', '동대문', '마포', '영등포',
       '성동', '동작', '광진', '서부', '강북', '금천', '중랑', '강남', '관악', '강서', '강동',
       '종암', '구로', '서초', '양천', '송파', '노원', '방배', '은평', '도봉', '수서'],
      dtype=object)

In [15]:
len(crime_raw_data['구분'].unique())

31

In [16]:
# 강간추행과 강간을 성범죄로 통일
crime_raw_data['죄종'] = crime_raw_data['죄종'].replace(['강간,추행', '강간'], '성범죄')

In [17]:
crime_raw_data['죄종'].unique()

array(['살인', '강도', '성범죄', '절도', '폭력'], dtype=object)

In [18]:
crime_raw_data.dropna(axis=1)

     구분   죄종 발생검거    건수
0    중부   살인   발생     4
1    중부   살인   검거     4
2    중부   강도   발생     3
3    중부   강도   검거     3
4    중부  성범죄   발생   109
..   ..  ...  ...   ...
305  수서  성범죄   검거   129
306  수서   절도   발생   855
307  수서   절도   검거   423
308  수서   폭력   발생  1198
309  수서   폭력   검거  1050

[310 rows x 4 columns]

In [19]:
crime_raw_data.dropna(axis=1, inplace=True)

In [20]:
crime_raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 310 entries, 0 to 309
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구분      310 non-null    object
 1   죄종      310 non-null    object
 2   발생검거    310 non-null    object
 3   건수      310 non-null    int64
dtypes: int64(1), object(3)
memory usage: 9.8+ KB

In [21]:
crime_raw_data.head()

   구분   죄종 발생검거   건수
0  중부   살인   발생    4
1  중부   살인   검거    4
2  중부   강도   발생    3
3  중부   강도   검거    3
4  중부  성범죄   발생  109

In [22]:
crime_station = pd.pivot_table(data=crime_raw_data, 
                               index='구분', 
                               columns=['죄종', '발생검거'], 
                               values='건수')

In [23]:
crime_station.head()

죄종      강도         살인         성범죄            절도              폭력
발생검거    검거    발생   검거   발생     검거     발생     검거      발생      검거      발생
구분
강남    11.0  13.0  6.0  8.0  325.0  428.0  737.0  1517.0  1699.0  1961.0
강동     6.0   6.0  3.0  3.0  103.0  124.0  889.0  1612.0  1461.0  1713.0
강북     1.0   1.0  4.0  4.0  115.0  136.0  537.0   777.0  1255.0  1383.0
강서     3.0   3.0  7.0  9.0  188.0  246.0  921.0  1540.0  1925.0  2098.0
관악     6.0   7.0  4.0  8.0  269.0  321.0  929.0  1860.0  1926.0  2248.0

In [24]:
crime_station.columns

MultiIndex([( '강도', '검거'),
            ( '강도', '발생'),
            ( '살인', '검거'),
            ( '살인', '발생'),
            ('성범죄', '검거'),
            ('성범죄', '발생'),
            ( '절도', '검거'),
            ( '절도', '발생'),
            ( '폭력', '검거'),
            ( '폭력', '발생')],
           names=['죄종', '발생검거'])